body {
  background-color: #775644;
  margin: 0px;
  padding: 0px;
}

.container-fluid {
  margin: 0px;
  padding: 0px;
}

#header {
    background-image: url(images/raccoon_border.png);
    background-repeat: repeat-x;
    background-size: contain;
    width: 100%;
    float: left;
    margin: 0px;
    padding: 0px;
    
    position: relative;
    top: 0px;
}

.page {
    position: relative;
    top: 0px;
    text-align: center;
}

#header img {
  height: auto;
  max-width: 100%;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  display: block;
  padding: 0px;
}

#login {
  max-width: 300px;
  padding: 20px;
  margin: auto;
  text-align: center;
  color: #201a1a;
  font-size: 20px;
  font-family: Calibri;
}

#login input {
  text-align: center;
  background-color: #a38571;
  font-weight: 700;
  font-size: 16px;
  border: 1px solid #3d3434;
  border-radius: 8px;
  color: #3d3434;
}

#login label {
  margin-top: 5px;
}

#mainmenu {
  max-width: 800px;
  padding: 20px;
  margin: auto;
}

#eventlist, #createEvent {
  max-width: 800px;
  padding: 20px;
  margin: auto;
}

.pageButton, .infoButton {
  background-color: #a38571;
  margin-bottom: 13px;
  border: 1px solid #3d3434;
  border-radius: 8px;
}

.pageButton:hover, .infoButton:hover {
  background-color: #3d3434;
}

h1, h2 {
  font-family: Calibri;
  font-size: 20px;
  font-weight: 700;
  color: #201a1a;
  position: relative;
  margin: 15px;
  display: inline-block;
}

.bg-1 { background-color: #5CB85C; }

.space {
  margin: 5px;
  background-color: #a38571;
  border: 1px solid #3d3434;
  border-radius: 8px;
  width: inherit;
  line-height: 30px;
  padding-top: 12px;
}

#eventlist hr {
  color: #a38571;
  border-color: #a38571;
  margin: 15px;
  padding: 0px;
}

#eventlist h2 {
  margin: 0px;
  margin-bottom: 15px;
  padding: 0px;
}

#eventSubmit, #searchSubmit {
  margin: 5px;
  margin-top: 15px;
}

.space .col-sm-2 {
  max-height: 34px;
}

#eventBTN, #searchEventsBTN {
  border: 1px solid #3d3434;
}

.space p {
  text-align: center;
  line-height: 24px;
  border-radius: 3px;
  height: 24px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #FFF;
  border: 1px solid #57634A;
}

.space input, .space textarea, .space select {
  background-color: #F2E3DA;
}

#eventMaker input {
  text-align: center;
}

.infoArea {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  color: #201a1a;
  padding: 0px;
  padding-top: 15px;
  margin: 0px;
  display: inline-block;
}