<!-- Page 2: Event Listing -->        
<details class="infoArea" hidden="true">
  Bored? Here's where you find something to do, close or far! </br>
  B se through your friends' events, or search for all users' events. </br>
  You can also talk to event attendees via group chat!
</details>

<header class=" ">
  <h1>Event Listing</h1>
</header>

<main id="eventSearcher" class="space   container">

  <div class=" ">
    <h2 class="col-sm-2">Search tags:</p>
    <div class="form-group col-sm-10">
      <input id="searchEvents" type="text" class="form-control" ng-model="searchEvents"></input>
    </div>
  </div>

  <div class=" ">

    <div class="col-sm-6 form-group">
      <select id="distanceSelect" class="form-control" ng-model="distance">
        <option>1 mile</option>
        <option>10 miles</option>
        <option>100 miles</option>
        <option selected>anywhere</option>
      </select>
    </div>

    <div class="col-sm-6 form-group">
      <select id="friendSelect" class="form-control" ng-model="friends">
        <option selected>friends only</option>
        <option>all users</option>
      </select>
    </div>

  </div>

  <button id="getEventsButton"></button>
</main>
