body {
  background-color: #775644;
  margin: 0px;
  padding: 0px;
}

.container-fluid {
  margin: 0px;
  padding: 0px;
}

#header {
    background-image: url(images/raccoon_border.png);
    background-repeat: repeat-x;
    background-size: contain;
    width: 100%;
    float: left;
    margin: 0px;
    padding: 0px;
    
    position: relative;
    top: 0px;
}

.page {
    position: relative;
    top: 0px;
    text-align: center;
}

#header img {
  height: auto;
  max-width: 100%;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  display: block;
  padding: 0px;
}

#login {
  max-width: 300px;
  padding: 20px;
  margin: auto;
  text-align: center;
  color: #201a1a;
  font-size: 20px;
  font-family: Calibri;
}

#login input {
  text-align: center;
  background-color: #a38571;
  font-weight: 700;
  font-size: 16px;
  border: 1px solid #3d3434;
  border-radius: 8px;
  color: #3d3434;
}

#login label {
  margin-top: 5px;
}

#loginButtons {
  margin-top: 15px;
}

.wrongInput {
  font-size: 14px;
  font-weight: 700;
  background-color: #B49C8F;
  margin: 0px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 6px;
  padding: 0px;
}

#mainmenu {
  max-width: 800px;
  padding: 20px;
  margin: auto;
}

#eventSearcher, #createEvent, #myEvents, #friends, #profile {
  max-width: 800px;
  padding: 20px;
  margin: auto;
}

#resultsArea {
  max-width: 800px;
  padding: 20px;
  margin: auto;
  display: none;
}

.pageButton, .pageButtonWait ,.infoButton {
  background-color: #a38571;
  margin-bottom: 13px;
  border: 1px solid #3d3434;
  border-radius: 8px;
}

.pageButton:hover, .pageButtonWait:hover, .infoButton:hover {
  background-color: #3d3434;
}

h1, h2 {
  font-family: Calibri;
  font-size: 20px;
  font-weight: 700;
  color: #201a1a;
  position: relative;
  margin: 15px;
  display: inline-block;
}

.bg-1 { background-color: #5CB85C; }

.space {
  margin: 5px;
  background-color: #a38571;
  border: 1px solid #3d3434;
  border-radius: 8px;
  width: inherit;
  line-height: 30px;
  padding-top: 12px;
}

#eventsArea .space {
  padding: 15px;
}

#eventsArea input, textarea {
  font-weight: 700;
}

#eventlist hr {
  color: #a38571;
  border-color: #a38571;
  margin: 15px;
  padding: 0px;
}

#eventlist h2 {
  margin: 0px;
  margin-bottom: 15px;
  padding: 0px;
}

#eventSubmit, #searchSubmit {
  margin: 5px;
  margin-top: 15px;
}

.space .col-sm-2 {
  max-height: 34px;
}

.space p, #loginInfo p {
  text-align: center;
  line-height: 24px;
  border-radius: 3px;
  height: 24px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #FFF;
  border: 1px solid #57634A;
}

#eventBTN, #searchEventsBTN, .eventObject button, #loginInfo p, #editUserInfoBTN {
  border: 1px solid #3d3434;
}

.space input, .space textarea, .space select, #friendsInput, #loginInfo input, #profile input {
  background-color: #F2E3DA;
}

#changeUsername {
  background-color: 775644;
  text-align: left;
  line-height: 34px;
  color: #FFF;
}

#loginInfo input, #changeUsername {
  margin-bottom: 5px;
  text-align: center;
}

#eventMaker input {
  text-align: center;
}

.infoArea {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  color: #201a1a;
  padding: 0px;
  padding-top: 15px;
  margin: 0px;
  display: inline-block;
}

#friendsInput {
  text-align: center;
}

.interest, .friend {
  padding: 0px;
  margin: 5px;
  border: 2px solid #4C3E3E;
  border-radius: 3px;
  height: 34px;
  display: inline-block;
}

.interest div:hover {
  background-image: url(images/x_icon_1.png);
}

.interest p, .friend p {
  float: left;
  line-height: 30px;
  padding: 0px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0px;
  border-right: 2px solid #4C3E3E;
  background-color: #a38571;
  cursor: default;
  font-weight: 700;
}

.friend p {
  border-right: none;
  cursor: pointer;
}

.friend {
  cursor: pointer;
}

.interest div {
  padding: 0px;
  margin: 0px;
  background-image: url(images/x_icon_2.png);
  width: 30px;
  height: 30px;
  display: inline-block;
  cursor: pointer;
}

#interestsArea, #friendsOnline {
  margin: 0px;
  padding: 0px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
}

#searchInterests {
  text-align: center;
}

#newInterestBTN {
  height: 30px;
  margin-top: 20px;
  font-size: 14px;
  color: #FFF;
  border-color: #3d3434;
}

.eventId {
  display: none;
}

#newInterestArea {
  margin-top: 10px;
}

#interestDescription {
  height: 150px;
  background-color: #eee;
}

#interestName, #interestDescription {
  text-align: center;
  font-weight: 700;
}

#eventTagsInput {
  height: 28px;
}

#eventDescriptionInput {
  position: relative;
  z-index: 0;
}

#P3_interests {
  position: relative;
  margin-top: 40px;
}

#P3_Autofill > div.autofill_box {
  top: 30px;
}

div.interest > p {
  border: 0px;
}