<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  
  <head>
  
    <!-- Title and icon -->
    <title>Bordr</title>
    <link rel="icon" href="images/raccoon_icon.png">
    
    <!-- Bootstrap core CSS -->
    <link href="bootstrap-3.3.6-dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles -->
    <link href="style.css" rel="stylesheet">  
    
    <!-- Custom JS -->
    <script src="jquery-2.1.4.min.js"></script>
    <script src="transitions.js"></script>
    <script>
      $(document).ready( function() {
        $("#signupBTN").click( function() {
          var data = {username: $('#user').val(), password: $('#password').val()};
          console.log(data);
          $.post('http://localhost:3000/signup', data).done(function(response) {
            var alerts = "";
            if (response.password != null) {
              alerts += response.password + "\n";
            }
            if (response.password_confirm != null) {
              alerts += response.password_confirm + "\n";;
            }
            if (response.email != null) {
              alerts += response.email + "\n";
            } 
            console.log("response",response);
            alert (alerts);
          });
        })  
        $("#loginBTN").click( function() {
          var data = {username: $('#user').val(), password: $('#password').val()};
          $.post('http://localhost:3000/login', data).done(function(response) {
          console.log(response);
            if (response.slice(0,11) == 'User Found:') 
            console.log(response);
            if (response == 'Login Successful') {
              goToPage($('#loginBTN').attr("value"));
            }
          });
        })  
      });
    </script>
  </head>

  <body>
  
    <div id="header">
      <img id="logo" src="images/raccoon_small.png"> </img>
    </div>
  
  <div id="content" class="container-fluid">
  
    <!-- oooooooooooooooooooooooooo -->
    <div id="login" class="page" value="0">
      <div class="row-fluid" id='server_response'></div>
      <div class="form-group row-fluid">
        <label for="user">Username:</label>
        <input type="text" class="form-control input-sm" id="user"> </input>
        <label for="password">Password:</label>
        <input type="password" class="form-control input-sm" id="password"> </input>
      </div>
      
      <div class="row-fluid">
        <div class="col-sm-6">
          <button id="loginBTN" type="button" value=1 class="pageButton btn btn-block btn-primary">Log In</button>
        </div>
        <div class="col-sm-6"> 
          <button id="signupBTN" type="button" value=1 class="pageButton btn btn-block btn-primary">Sign Up</button>
        </div>
      </div>
      
    </div>
    
    <!-- oooooooooooooooooooooooooo -->
    <div id="mainmenu" hidden="true" class="page" value="1">
      
      <div class="row-fluid">
        <div class="col-sm-12">
          <h1>Welcome, username!</h1>
        </div>
      </div>
      
      <div class="row-fluid">
        <div class="col-sm-6">
          <button id="eventsBTN" type="button" value=2 class="pageButton btn btn-block btn-primary">Event Listing</button>
        </div>
        <div class="col-sm-6"> 
          <button id="makeBTN" type="button" value=2 class="pageButton btn btn-block btn-primary">Create Event</button>
        </div>
      </div>
      
      <div class="row-fluid">
        <div class="col-sm-6">
          <button id="findBTN" type="button" value=2 class="pageButton btn btn-block btn-primary">Search Events</button>
        </div>
        <div class="col-sm-6"> 
          <button id="friendsBTN" type="button" value=2 class="pageButton btn btn-block btn-primary">Friends</button>
        </div>
      </div>
      
      <div class="row-fluid">
        <div class="col-sm-4"> </div>
        <div class="col-sm-4"> 
          <button id="logoutBTN" type="button" value=0 class="pageButton btn btn-block btn-primary">Logout</button>
        </div>
        <div class="col-sm-4"> </div>
      </div>
      
    </div>
    
    <!-- oooooooooooooooooooooooooo -->
    <div id="anothermenu" hidden="true" class="page" value="2">
      
      <div class="row-fluid">
        <div class="col-sm-12">
          <h1>This is another menu</h1>
        </div>
      </div>
      
      <div class="row-fluid">
        <div class="col-sm-4"> </div>
        <div class="col-sm-4"> 
          <button id="backBTN" type="button" value=1 class="pageButton btn btn-block btn-primary">Go Back</button>
        </div>
        <div class="col-sm-4"> </div>
      </div>
      
    </div>
  
  </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
    
  </body>
  
</html>